*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* background color  */

body{
  height: 100vh;

}


html{
  background: linear-gradient(to bottom ,#23db98 0%, #23db98 15%, #e9f0ed 15%, #e9f0ed 100%);
  font-family: sans-serif;
  overflow: hidden;
}

/* container app */

.container{
  background-color: white;
  width: 80%;
  height: 90%;
  margin: auto;
  margin-top: 2.5%;
  display: flex;

}

/* section left start */
.section-left{
  width: 350px;
  height: 100%;
  background-color: white;
}

.name-user{
  background-color: #e2e3da;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 14px;
  position: relative;
}

.name-user > span{
  padding-left: 4px;
}

img{
  max-width: 40px;
  border-radius: 100%;

}

.icon{
  position: absolute;
  left: 250px;
  padding: 5px;
  color: #afafaf;
}

.icon > i{
  padding-left: 7px;
}

/* notification */
.notification{
  background-color: #02ccde;
  height: 65px;
  display: flex;
  align-items: center;
  padding-left: 14px;
}

.picture-notification{
  background-color: white;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #02ccde;
}

.text-notification{
  padding-left: 8px;
}

.text-notification > h5{
  font-size: 12px;

}

.text-notification > p{
  font-size: 11px;
  text-decoration: underline;
}

/* reaserch name  */

.search-chat {
  background-color: #e2e3da;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.search-bar {
  display: flex;
  padding:  5px 10px;
  border-bottom: 1px solid #e2e3da ;
}

.search-bar > i {
  width: 34px;
  height: 24px;
  background: white;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding-left: 12px;
  color: #afafaf;
  display: flex;
  align-items: center;
}

.search-bar input {
  outline: none;
  border: none;
  padding: 1px 1px 1px 2px;
  flex: 1;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding-left: 30px;
}

/* list name  */

.section-name li{
  display: flex;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
  overflow-y: auto;
}

li{
  height: 50px;
  border-bottom: 2px solid #e2e3da;
  padding-left: 10px;
  position: relative;

}

.section-name  img{
  max-width: 40px;
  border-radius: 100%;

}

.name-list-chat{
  padding-left: 8px;
  font-size: 14px;
}

.date-list-chat{
  position: absolute;
  right: 5px;
  font-size: 11px;
}


/* section right start */

.section-right{
  width: calc(100% - 350px);
  height: 100%;

}

.header-chat{
  background-color: #e2e3da;
  height: 50px;
  display: flex;
  position: relative;
  border-left:  1px solid #afafaf ;
  align-items: center;
}

.photo-chat  img{
  display: flex;
  align-items: center;
  padding-left: 10px;
  max-width: 40px;
}

.stated-chat{
  align-items: flex-start;
  font-size: 14px;
  padding-left: 15px;
}

.stated-chat > h5{
  font-size: 13px;
}

.stated-chat > p{
  font-size: 11px;
}

.icon-chat{
  right: 10px;
  padding: 5px;
  position: absolute;
  right: 10px;
  color: #afafaf;
}

.icon-chat > i{
  padding-right: 7px;
}

/* main chat start */

.main-chat{
  height: calc(100% - 100px);
  overflow-y: auto;
  background: url(https://i.pinimg.com/originals/79/5c/ab/795cabc4647f73b365e2e6eabd0f34dc.png);
}

.inviato {
  display: flex;
  justify-content: flex-end;
}

.ricevuto{
  display: flex;
  padding-left: 40px;
}









/* footer */
.footer {
  width: 100%;
  height: 50px;
  display: flex;
  background: #58f56f;
  padding: 5px 18px;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  border-left:  1px solid #afafaf ;
}

.footer-left{
  margin-right: 15px;

}

.footer-center {
  flex: 1;
}

.footer-center input {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
}


.footer-right {
  margin-left: 15px;
}
